<style>
  a { text-decoration: none; }
</style>

<div class="container-sm mx-auto">
  <div class="row mb-5 mt-3 align-items-center">
    <div class="col text-start">
      <h1>Dashboard</h1>
    </div>
    <div class="col text-end">
      <a href="/dashboard/new" class="btn btn-custom">Create New Post</a>
    </div>
  </div>

  {{#each posts}}
    <div class="card mb-3" style="border-radius: 0; border-width: 2px;">
      <div class="card-header" style="border-radius: 0;">
        <h2 class="card-title">{{title}}</h2>
        <p class="card-created-at">Posted by
          <span>{{user.username}}</span>
          on
          <span>{{formatDate createdAt}}</span>
        </p>
      </div>
      <div class="card-body">
        <p>{{content}}</p>
        <div class="d-flex justify-content-start">
          <a href="/posts/{{id}}" class="mx-2"><span
              class="material-symbols-outlined"
            >
              chat
            </span></a>
          <a href="/dashboard/edit/{{id}}" class="edit mx-2">
            <span class="material-symbols-outlined">
              edit
            </span></a>
          <a
            href="/dashboard/"
            class="delete-post mx-2"
            data-post-id="{{id}}"
          ><span class="material-symbols-outlined">
              delete
            </span></a>
        </div>
      </div>
    </div>
  {{/each}}

  <script src="/js/dashboard.js"></script>
</div>