<style>
  a {
    text-decoration: none;
  }
</style>


<div class="container-sm mx-auto">
  <div class="row mb-5 mt-3 align-items-center">
  <div class="col text-start">
    <h1>Dashboard</h1>
  </div>
  <div class="col text-end">
    <a href="/dashboard/new" class="btn btn-custom">Create New Post</a>
  </div>
</div>

  {{#each posts}}
    <div class="card mb-3">
      <div class="card-header">
        <h2 class="card-title">{{title}}</h2>
        <p class="card-created-at">Posted by
          <span >{{user.username}}</span>
          on
          <span >{{formatDate createdA}}</span>
        </p>
      </div>
      <div class="card-body">
        <p>{{content}}</p>
        <div class="d-flex justify-content-end">
          <a href="/posts/{{id}}" class="mx-2">Read More</a>
          <a href="/dashboard/edit/{{id}}" class="edit mx-2">
          Edit</a>
          <a
            href="/dashboard/"
            class="delete-post mx-2"
            data-post-id="{{id}}"
          >Delete</a>
        </div>
      </div>
    </div>
  {{/each}}

  <script src="/js/dashboard.js"></script>
</div>